.blue { background-color: blue; width: 100px; height: 100px; }
.green { background-color: green; width: 100px; height: 100px; }
html, body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'MonumentExtended-Regular';
  &.disable-mouse {
    pointer-events: auto;
  }
}
@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("../fonts/MonumentExtended-Regular.ttf");
}
@font-face {
  font-family: "MonumentExtended-Black";
  src: url("../fonts/MonumentExtended-Black.ttf");
}
@font-face {
  font-family: "MonumentExtended-Light";
  src: url("../fonts/MonumentExtended-Light.ttf");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book.otf");
}
h2, h3, p {
  margin-top: 0;
  margin-bottom: 10px;
}
.m-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vidbg-container {
  position: fixed;
  z-index: -1;
  inset: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
}
#bgVideo {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}

.banner-text {
  font-size: 42px;
  font-family: MonumentExtended-Black, MonumentExtended;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 76px;
  text-align: right;
  position: absolute;
  width: 900px;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  height: 76px;
  line-height: 76px;
  margin-top: -38px;
  // overflow: hidden;
  p {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    span {
      display: inline-block;
      // transition: all .3s;
      transform: translateX(1380px);
      padding: 0 10px;
    }
  }
  .last {
    height: 100%;
  }
  .t4 {
    // transition: .3s all;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-family: MonumentExtended-Regular, MonumentExtended;
    font-weight: 400;
    color: rgba(216,216,216,0);
    line-height: 48px;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 76px;
    opacity: 0;
  }
  .t6 {
    height: 16px;
    font-size: 14px;
    font-family: MonumentExtended-Regular, MonumentExtended;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 76px;
    opacity: 0;
  }
}
.learn {
  text-decoration: none;
   color: #fff;
}
.logo {
  position: fixed;
  left: 80px;
  top: 60px;
  font-weight: bold;
  color: #fff;
  z-index: 9;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  width: 178px;
  height: 66px;
  cursor: pointer;
  .animate-logo {
    transition: all .3s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-28px, -17px);
    &:hover {
      transform: translate(0, 0);
    }
  }
}
 
.page-title{
  position: fixed;
  top: 121px;
  left: 240px;
  z-index: 9;
  color: #ffffff;
  font-weight: lighter;
  font-size: 24px;
}

.sns {
  position: fixed;
  z-index: 9;
  top: 40%;
  left: 85px;
  width: 20px;
  color: #fff;
  span {
    display: block;
    margin-bottom: 45px;
    cursor: pointer;
    // transition: 0.5s all;
    font-size: 16px;
    &:hover {
      // transform: scale(1.4, 1.4) translateX(23px);
    }
    img {
      position: relative;
    }
  }
}

.sns_black {
  display: none;
}

.menu-modal {
  color: #000;
  padding: 200px;
  .menu {
    display: flex;
    .nav {
      width: 60%;
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 60px;
          span {
            position: relative;
            font-weight: bold;
            cursor: pointer;
            a {
              transition: .3s all;
              position: relative;
              z-index: 9;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 48px;
              font-family: MonumentExtended-Regular, MonumentExtended;
              font-weight: 400;
              color: rgba(216, 216, 216, 0);
              line-height: 48px;
              -webkit-text-stroke: 1px #000000;
              text-stroke: 1px #000000;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            img {
              transition: .4s all;
              position: absolute;
              right: -80px;
              top: -62px;
              width: 0px;
              height: 0px;
            }
            &:hover {
              a {
                -webkit-text-fill-color: black;
              }
              img {
                width: 130px;
                height: 130px;
              }
            }
          }
        }
      }
    }
    .conntact {
      margin-top: 115px;
      font-family: 'MonumentExtended-Regular';
      h2 {
        font-size: 24px;
        font-family: 'MonumentExtended-Black';
        font-weight: 900;
        color: #000000;
      }
      h3 {
        font-family: 'Gotham-Book';
        color: #7A7A7A;
        font-size: 16px;
        text-transform: uppercase;
        margin: 50px 0 0;
      }
      p {
        font-weight: bold;
        color: #000;
        line-height: 1.5;
        font-size: 14px;
        &.address {
          white-space: nowrap;
        }
        &.phone {
          margin-top: 30px;
        }
        &.copyright {
          font-size: 16px;
          margin-top: 30px;
          color: #7A7A7A;
          font-weight: normal;
        }
      }
      .address, .phone {
        font-family: 'Gotham-Book';
        color: #000;
        font-size: 16px;
      }
    }
  }
}

.question-modal {
  .question {
    display: flex;
    &-swiper {
      width: 522px;
      padding: 300px 0 0 200px;
      margin-right: 150px;
      h2 {
        font-size: 16px;
        font-family: MonumentExtended-Regular, MonumentExtended;
        font-weight: 400;
        color: #fff;
        line-height: 21px;
        margin-bottom: 54px;
      }
      .txt {
        font-size: 24px;
        font-family: MonumentExtended-Black, MonumentExtended;
        font-weight: bold;
        color: #fff;
        line-height: 30px;
      }
    }
    &-video {
      width: 400px;
      margin-top: 80px;
    }
    &-arrows {
      margin-top: 67px;
      span {
        display: inline-block;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
  .close-question-btn {
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    right: 86px;
    top: 60px;
    opacity: 0.8;
    cursor: pointer;
  }
}

.menu-btn {
  position: fixed;
  right: 80px;
  top: 60px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}

#playPause {
  color: #fff;
  position: fixed;
  right: 70px;
  top: 50%;
  cursor: pointer;
  font-size: 12px;
  overflow: hidden;
  span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    transition: all .2s;
    &:not(.icon) {
      opacity: 0;
    }
  }
  .icon {
    font-size: 16px;
    margin: 0 10px;
  }
  &:hover {
    span {
      &:not(.icon) {
        opacity: 1;
      }
    }
  }
}

@keyframes leftBottom {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
.left-bottom {
  position: fixed;
  z-index: 9;
  left: 70px;
  bottom: 60px;
  .img-box {
    // perspective: 100px;
    position: relative;
    z-index: 2;
    transform-origin: 0 50% 0;
    transform: rotate(0deg);
    transition: 0.3s;   
    cursor: pointer;
    .star {
      position: relative;
      z-index: 1;
      width: 180px; 
      height: 95px;
    }
    img {
      transition: 0.3s;
    }
    img.en {
      position: relative;
      z-index: 2;
      transform-origin: 0 50% 0;
      // animation: leftBottom 5s linear infinite;
    }
    img.arrow {
      position: absolute;
      left: 50px;
      transform-origin: center;
      transform: rotateY(0deg);
      width: 80px;
    }
    img.a1 {
      top: 8px;
      z-index: 3;
    }
    img.a2 {
      top: 7px;
    }
    &:hover {
      img.en {
        // transform: rotate(-36deg);
      }
      img.arrow {
        // transform: rotateY(360deg);  // 修改使用JS控制
      }
    }
  }
  &-content {
    position: fixed;
    left: 190px;
    bottom: 190px;
    z-index: 1;
    width: 480px;
    height: 649px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8); 
    transform-origin: 0 100% 0;
    transform: rotate(138deg);
    transition: 0.3s; 
    border-radius: 20px;
    // overflow: hidden;
    .top {
      height: 101px;
      width: 100%;
      padding: 30px 26px 0 76px;
      box-sizing: border-box;
      position: relative;
      background: #2DB3BD;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      span {
        font-size: 36px;
        font-family: MonumentExtended-Black, MonumentExtended;
        font-weight: 700;
        color: #fff;
        line-height: 46px;
      }
      img {
        width: 180px;
        position: absolute;
        top: -31px;
        right: 26px;
      }
    }
    .questions {
      ul {
        padding: 0;
        li {
          display: flex;
          padding: 0 55px;
          transition: all .2s;
          align-items: center;
          height: 85px;
          strong {
            font-size: 16px;
            font-family: MonumentExtended-Black, MonumentExtended;
            font-weight: bold;
            color: #fff;
            line-height: 21px;
            margin-right: 16px;
          }
          span {
            width: 322px;
            font-size: 14px;
            font-family: MonumentExtended-Regular, MonumentExtended;
            font-weight: 400;
            color: #fff;
            line-height: 17px;
          }
          .play {
            transition: all .2s;
            width: 0px;
            height: 96px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
            i {
              position: absolute;
              left: 50%;
              top: 50%;
              width: 32px;
              height: 32px;
              margin-top: -18px;
              margin-left: -18px;
              border-radius: 50%;
              background: rgba(0, 0, 0, 0.5) url('../images/play.png') no-repeat center / 6px auto;
            }
          }
          &:hover {
            padding: 0 28px;
            strong, span {
              color: #65C8CF;
            }
            .play {
              width: 54px;
            }
          }
        }
      }
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
  
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      color: #fff;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      /* -webkit-justify-content: center;
      justify-content: center; */
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      h2 {
        font-size: 16px;
        font-family: MonumentExtended-Regular, MonumentExtended;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 21px;
        margin: 0 auto 21px;
        text-align: left;
        width: 350px;
      }
      .answer {
        text-align: left;
        width: 100%;
        font-size: 16px;
        font-family: Gotham-Book;
        font-weight: normal;
        color: #FFFFFF;
        line-height: 19px;
        margin: 0 auto 42px;
        width: 350px;
      }
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 150px; }
    .swiper-pagination-bullet { background: #fff; }
    .swiper-pagination-bullet-active { opacity: 1; background-color: #fff !important; }
    .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after { content: "";}
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next { left: 40px; }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev { right: 40px; }
    .vjs-big-play-centered .vjs-big-play-button { width: 100px; height: 100px; line-height: 100px; border: 0; border-radius: 50%; background: rgba(0, 0, 0, 0.4); margin-top: -50px;}
  }
  // &:hover {
  //   .img-box {
  //     transform: rotate(-36deg);
  //   }
  //   .left-bottom-content {
  //     // width: 480px;
  //     // height: 800px;
  //     opacity: 1;
  //     transform: rotate(0deg);
  //   }
  // } 
}

.right-bottom {
  position: fixed;
  z-index: 9;
  right: 58px;
  bottom: 35px;
  transition: 0.2s;
  width: 116px;
  height: 116px;
  cursor: pointer;
  img.hi_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transition: 0.2s;
    animation: rotation 5s linear infinite;  /*开始动画后无限循环，用来控制rotate*/
  }
  img.hi_1_black, img.hi_2_black {
    display: none;
  }
  img.hi_2 {
    position: absolute;
    left: 38px;
    top: 27px;
  }
  &:hover {
    transform: translate(-15px, -15px);
  }
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.delay100 { -webkit-animate-delay: 1s; }
.delay200 { -webkit-animate-delay: 2s; }
.delay300 { -webkit-animate-delay: 3s; }
/* arksin-mobile style */
@media screen and (max-width: 640px) {
  .banner-text {
    width: 100%;
    margin-left: 0;
    left: 0;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    height: 130px;
    line-height: normal;
    top: 45%;
    p {
      white-space: nowrap;
      span {
        transition: all .2s;
        transform: translateX(640px);
        padding: 40px 5px 0;
        // opacity: 0;
      }
    }
    .t4, .t6 {
      transition: all .2s;
      line-height: normal;
    }
    .t4 {
      font-size: 14px;
      transform: translateY(42px);
    }
    .t6 {
      font-size: 12px;
      transform: translateY(44px);
    }
  }
  .logo{
    top: 25px;
    left: 30px;
    // width: 178px;
    // height: 66px;
  }
  .page-title{
    top: 100px;
    left: 31px;
    font-size: 16px;
  }
  .menu-btn{
    top: 22px;
    right: 30px;
  }
  .close-btn{
    top: 22px;
    right: 30px;
  }
  .modal.show{
    padding: 0 0 0 9%;
    .menu{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      .conntact{
        display: none;
      }
      .nav ul{
        li{
          margin-bottom: 40px;
          span a{
            font-size: 24px;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .modal.question-modal {
    padding: 0;
    .question {
      display: block;
      position: relative;
      height: 100vh;
      &-swiper {
        width: 100vw;
        padding: 15px 10px;
        margin: 0;
        box-sizing: border-box;
        position: absolute;
        z-index: 9;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.3);
        h2 {
          margin-bottom: 5px;
          font-size: 14px;
        }
        .txt {
          font-size: 14px;
          margin-bottom: 5px;
        }
        .question-arrows {
          margin-top: 0;
          text-align: center;
          span {
            margin: 0 20px;
            img {
              width: 30px;
              vertical-align: bottom;
            }
          }
        }
      }
      &-video {
        width: 100vh;
        margin-top: 0;
      }
    }
    .close-question-btn {
      font-size: 20px;
      right: 20px;
      top: 20px;
    }
  }
  .sns{
    width: auto;
    top:auto;
    bottom: 50px;
    left: 51%;
    transform: translateX(-50%);
    span{
      display: inline-block;
      margin: 0 12px;
      vertical-align: middle;
      img{
        width: 16px;
      }
    }
  }
  .left-bottom{
    left: 5px;
    bottom: 39px;
    .img-box{
      transform-origin: 50% 50% 0;
      .star{
        width: 85px;
        height: 44px;
      }
      img{
        width: 85px;
        &.en{
          transform-origin: 50% 50% 0;
        }
        &.arrow{
          left: 22px;
          width: 40px;
        }
        &.a1{
          top: 2px; 
        }
        &.a2{
          top: 1px;
        }
      }
    }
    .top {
      height: 80px;
      padding: 21px 26px 0 43px;
      img {
        width: 120px;
        top: -9px;
      }
    }
    .questions {
      height: calc(100% - 80px);
      overflow: hidden;
      ul {
        height: 93%;
        overflow-y: auto;
        li {
          padding: 0 15px;
          height: 55px;
          .play {
            height: 60px;
            i {
              width: 26px;
              height: 26px;
              margin-top: -13px;
              margin-left: -13px;
            }
          }
        }
      }
    }
    .left-bottom-content{
      left: 5%;
      bottom: 100px;
      width: 90%;
      max-width: 640px;
      height: 70vh;
    }
  }
  .right-bottom{
    width: 54px;
    height: 54px;
    right: 10px;
    bottom: 33px;
    img{
      &.hi_1{
        width: 54px;
        height: 54px;
      }
      &.hi_2{
        height: 25px;
        left: 20px;
        top: 15px;
      }
      // &.hi_1_black{
      //   width: 30px;
      //   height: 30px;
      // }
    }
  }
  #playPause {
    top: auto;
    bottom: 120px;
    right: auto;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .menu-modal {
    padding: 200px 50px;
  }
  .menu-modal .menu .conntact p.address {
      white-space: normal;
  }
}

@media screen and (max-width: 640px){
  .sns{
    span{
      margin: 0 8px;
      display: inline-block;
      height: 24px;
      a {
        display: block;
        height: 24px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}